@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer @ViewData["Developer"].</p>

<address>
    <strong>More information: </strong> <a href="https://www.linkedin.com/in/roberto-rocha-14713233/">Roberto Rocha Profile</a><br />
    <strong>GitHub: </strong> <a href="https://github.com/reliasrocha">Roberto Rocha GitHub</a>
</address>
