@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Rua Gonçalo Velho Nº8 1-Esquerdo<br />
    Rio de Mouro, Sintra 2635-364 Portugal<br />
    <abbr title="Phone">P:</abbr>
    915.431.408
</address>

<address>
    <strong>Support:</strong> <a href="mailto:relias.rocha@gmail.com">relias.rocha@gmail.com</a>    
</address>
